.outerContainer{
    margin-top: 7rem;
}
.contents{
    margin: 0 auto;
    display: flex;
    width: 100%
}
.dataCard:hover {
    text-decoration: none;
}
.formContainer{
    max-width: 500px;
    margin: -200px auto;
}

.confButton{
    margin: 0 auto;
}

.popContent{
    display: flex;
    flex-flow: column;
}

.displayedNone{
    display: none;
}
.spec-inputs {
    margin: 10%
}

h1 {
    text-align: center;
}

.supplement-detail{
    color: lightgray;
}
.choosen-categories{
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}
.delete{
    cursor: pointer;
}
.category-warning{
    color:red;
}
.modal-button{
    margin-top: 5rem;
}
.newImg{
    margin: 1rem;
}
.ant-carousel .slick-dots-bottom {
    bottom: 170px !important;
}
.slick-dots li button {
    background-color: black !important;
}
.ant-carousel {
    height: 600px;
}
.slick-list {
    height: 600px;
}
.slick-active {
    display: flex;
    flex-direction: column;
}
.formContainer.contents {
    display: flex;
    flex-direction: column;
}