
.top-rated {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
}
.title-1 {
    margin-top: 3%;
}
.title-2 {
    margin-top: 3%;
   
}
.top-img {
        height: 200px;
        width: 250px;
        margin-right: 5%;
        margin-left: 5%;
        display: flex;
        justify-content: space-evenly;
    
}
.top-img:hover {
    background-color: powderblue;
}

.tittle{
    padding-top: 10px;
}
.tittle_img{
    width: 800px;
    height: 350px;
    display:flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 10%;

}

.container{
    margin: 0;
    width: 100%;
height: 100vh;
display: flex;
justify-content: center;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }

@media only screen and (max-width: 600px) {
    .top-rated {
        display: flex;
        flex-direction: column;
        padding: 10%;
        margin-left: 2;
        
      }

      .top-img {
        height: 200px;
        background-color: rebeccapurple;
        margin: 2%;
        box-shadow: 5px 10px gray;
}
}