.container {
  background-color: #f0e0d1;
  max-width: 100%;
}
.container .header{
  margin-top: 200px;
}
.container .banner{  background-color: red;

}
.container .banner .banner_img{
  min-width: 100%;
  height: 100vh;
}