.nav-bar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( #ddbfa3,#f0e0d1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    color:white;
    padding:25px ;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar .title .logo_1{
    width: 300px;
    height: 100%;
   margin-left: 15%;
   padding-top: 4px;
}
img{
   max-width: 500px !important; 
}
.navigation_links {
    display: flex;
    justify-content: center;
    width:100%;
    padding-top: 25px;
}
.navigation_links .navigation_link{
    margin: 0 3%;
    color: #000000;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 5%;
    font-size: 1.2rem;
    margin-right: 1.3%;
    color: #515151;
    padding-top: 4px;
}
.search input{
    background-color: #eedac9;
}
.search .search_icon{
    margin-right: 2%;
    color: black;
    font-size: 1.9rem;
}
.nav_links{
    padding-top: 25px;
    color:black; 
    display: flex;
    justify-content: space-evenly;
    margin:0 100px 0 7px;
}

.nav_links .nav_link {
   text-decoration: none;
    color:black;
    margin-right: 10%;
}
.nav_links .nav_icon{
    white-space: nowrap;
    font-size: 1.9rem;
}
.nav_links .button{
    font-size: 1.5rem;
}
.ant-btn{
    background-color: transparent;
    border-color: #515151;
}
.ant-btn:hover, .ant-btn:focus{
    color:black;
    background-color: transparent;
    border-color: #515151;
}
